{{ if .Params.twitterTitle }}
{{ $url := printf "%s%s%s%s" "https://twittercardseo.sound2gd.wang?text=" (urlquery .Params.twitterTitle)  "&blog=" (urlquery "\nChris的博客 | AI创业" )|  }}
{{ warnf "%v" $url }}
{{ $image := resources.GetRemote $url }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $image.Permalink }}">
{{ else }}
{{- $image := resources.Get "future_image.png" -}}
{{ warnf "%v" $image }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $image.Permalink }}">
{{ end }}

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{- $twitterSite := "" }}
{{- with site.Params.social }}
{{- if reflect.IsMap . }}
{{- with .twitter }}
{{- $content := . }}
{{- if not (strings.HasPrefix . "@") }}
{{- $content = printf "@%v" . }}
{{- end }}
<meta name="twitter:site" content="{{ $content }}">
{{- end }}
{{- end }}
{{- end }}
